@using BusinessSolutions.Models
@model RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "../Shared/_Layout.cshtml";
}

<h3>Register</h3>
@using(Html.BeginForm("Register", "Member"))
{
    @Html.ValidationSummary()
    <span>First Name:</span> @Html.TextBoxFor(m => m.FirstName) @Html.ValidationMessageFor(m => m.FirstName) <br/>
    <span>Last name:</span> @Html.TextBoxFor(m => m.LastName) @Html.ValidationMessageFor(m => m.LastName) <br/>
    <span>Email:</span> @Html.TextBoxFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)<br/>
    <span>Phone:</span> @Html.TextBoxFor(m => m.Phone) @Html.ValidationMessageFor(m => m.Phone)<br/>
    <span>Password:</span> @Html.PasswordFor(m => m.Password) @Html.ValidationMessageFor(m => m.Password)<br/>
    <input type="submit" value="Register!"/>
}